<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!--<link href="assets/chemist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/chemist/css/custom.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">-->
  <title></title>
</head>
<body style="background-color:#F5F5F5;min-height:115vh;">
  <div class="header">
    <div class="curve-header">
      <a href="javascript:void(0)" (click)="backClick()" class="back"><</a>
      <img src="assets/chemist/images/ecubix.svg" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="top-picture">
          <img src="assets/chemist/images/top-picture.svg" />
        </div>
      </div>
      <div class="col-md-12 text-center">
        <h3 class="mb-4">Smart Order</h3>
      </div>
    </div>
    <form [formGroup]="chemistLoginOTP">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="form-group">
            <input type="text" formControlName="ChemistOtp" class="form-control registerd" placeholder="Enter OTP." (keypress)="keyPress($event)" maxlength="5" autocomplete="off" inputmode="tel"
                   [ngClass]="{ 'is-invalid': submitted && f.ChemistOtp.errors }" />
            <div *ngIf="submitted && f.ChemistOtp.errors" class="invalid-feedback" style="font-size: 15px;">
              <div *ngIf="f.ChemistOtp.errors.required">OTP is required.</div>
            </div>

          </div>
        </div>
        <div class="col-md-12 text-center">

          <button [disabled]="loading" class="btn btn-block otp" (click)="ValidateOTP()">SUBMIT</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div class="col-md-12 text-center">
          <div class="resend-t"> Didn't get the OTP? <span style="margin-left:10px"></span><u><a routerLink="/otp" (click)="ReSendOTP()">Resend OTP</a></u></div>
        </div>
      </div>
    </form>
  </div>
  <ng4-loading-spinner> </ng4-loading-spinner>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--<script src="../../../assets/chemist/js/jquery-3.2.1.slim.min.js"></script>
  <script src="../../../assets/chemist/js/popper.min.js"></script>
  <script src="../../../assets/chemist/js/bootstrap.min.js"></script>-->
</body>
</html>
